/* CSS COLORS AT
https://www.w3schools.com/cssref/css_colors.asp
*/

.background-canvas{
    -fx-background-color: rgba(45,45,45,1.0);
}

.decisionmodule{
    -fx-fill: rgba(10,10,10,0.5);
    -fx-arc-width:15;
    -fx-arc-height:15;
}

.decisionmodule-title{
    -fx-text-fill:darkorange;
    -fx-font-weight: bold;
}

/* EXPERTS */
.expert-type{
    -fx-text-fill:white;
    -fx-font-weight: bold;
}

.expert-header {
    -fx-background-color: gray;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.expert-title{
    -fx-text-fill:white;
}

.expert-content {
    -fx-background-color: rgba(50,50,50,255);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.expert-content-label{
    -fx-text-fill: orange;
}



/* INPUT NODES */
.input-type{
    -fx-text-fill:white;
    -fx-font-weight: bold;
}

.input-header {
    -fx-background-color: gray;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.input-title{
    -fx-text-fill:white;
}

.input-content {
    -fx-background-color: rgba(50,50,50,255);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.input-content-label{
    -fx-text-fill: orange;
}


